@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Slab:wght@400;700&display=swap');

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color:#292929;
    line-height: 1.5;
}  


@media (max-width:991px) {
  body {
    font-size: 18px;
  }
}

/* Utility */

.none {
  display: none ! important;
} 

.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* Grid */

.container {
  width: 1400px;
  margin-left: 15px;
  margin-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width:1399px) {
  .container{
    width: 100%;
  }
  
}

.container-wide {
  width: 1536px;
}

@media (max-width:1535px) {
  .container-wide {
    width: 100%;
  }
  
}

